@font-face {
  font-family: Quando;
  src: url(fonts/Quando-Regular.ttf);
}

@font-face {
  font-family: BillisJaffna;
  src: url(fonts/PostNoBillsJaffna-ExtraBold.ttf);
}

@font-face {
  font-family: HandWritten;
  src: url(fonts/Heart_Warming_Font.otf);
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40px;
}

h2,
p {
  text-align: center;
}

body,
div,
img {
  display: block;
}

.background {
  flex-wrap: wrap;
  background-position: center;
  background-image: url("images/bgPaint.jpg");
  /* background-attachment: fixed; */
}

.content {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

/* .sectionsContainer {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
} */

/* Navbar CSS */

.navbarStatic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  height: 140px;
  border-radius: 45px;
  background-color: rgba(249, 249, 249, 95%);
}

.topPinkLine {
  width: 90%;
  height: 7px;
  border-radius: 50px;
  background-color: #f50087;
}

.logo {
  display: flex;
  width: 87%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.title {
  font-family: Quando;
  letter-spacing: 1px;
  cursor: default;
}

.bottomTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.imgLogo {
  position: relative;
  width: 150px;
  height: 100px;
  right: 55px;
}

.navigator {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 10px;
}

.botPinkBar {
  height: 7px;
  flex: 6;
  border-radius: 50px;
  background-color: #f50087;
}

.navItem {
  height: 7px;
  flex-wrap: wrap;
  margin-left: 5px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 50px;
}

.navItem.active {
  background-color: #f50087;
}

.navItem:hover {
  background-color: #f50087;
}

.navItemD {
  height: 7px;
  flex-wrap: wrap;
  margin-left: 5px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 50px;
}

.navItemD.active {
  background-color: #f50087;
}

.navItemD:hover {
  background-color: #f50087;
}

.navItemText {
  position: relative;
  bottom: 22px;
  font-family: BillisJaffna;
  cursor: pointer;
}

/* NAVBAR DINAMIC */

.navbarDinamic {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  top: 5px;
  bottom: 40;
  width: 85%;
  height: 45px;
  border-radius: 45px;
  background-color: rgba(249, 249, 249, 95%);
}

.letrasLogoLinear {
  display: flex;
  flex-direction: row;
}

.logoD {
  display: flex;
  width: 87%;
}

.imgLogoD {
  position: relative;
  width: 45px;
  height: 30px;
  left: 5px;
  bottom: 1px;
}

/*  MENU CSS */

.menuContainer {
  display: grid;
  grid-template-columns: 4fr 1fr;
  column-gap: 30px;
}

.miniPhotosContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  column-gap: 10px;
}

.photoBG {
  width: 100%;
  min-height: 180px;
  background-color: rgba(249, 249, 249, 100%);
  border-style: solid;
  border-color: black;
}

.photoBG.mini {
  max-width: 150px;
}

.photoBG.details {
  max-height: 700px;
  max-width: 1600px;
}

.displayPhotoContainer {
  display: flex;
  height: 100%;
  width: 100%;
  min-width: 120px;
  justify-content: center;
}

.displayMiniImage {
  height: 100%;
  background-color: red;
}

.photoContent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 98%;
  margin-top: 2%;
  max-height: 100%;
}

.photoContent.mini {
  justify-content: space-between;
  width: 90%;
  margin-top: 10%;
}

.imageContainer {
  height: 70%;
  width: 100%;
}

.imageContainer.mini {
  height: 78%;
}

.foodImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photoTitle {
  font-family: HandWritten;
  font-size: 40px;
  text-align: left;
}

.photoTitle.mini {
  font-family: HandWritten;
  font-size: 20px;
  margin-bottom: 2%;
  text-align: center;
}

.tachuela {
  position: relative;
  bottom: 32px;
  right: 35px;
}

.tachuela.details {
  bottom: 23px;
  left: 46%;
}

.tachuelaImg {
  position: absolute;
  width: 64px;
  height: 58px;
}

.textDetails {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: space-evenly;
  flex: 1;
}

.photoText {
  text-align: left;
  font-family: sans-serif;
}

.photoOptions {
  text-align: left;
  margin-left: 30px;
  width: 50%;
  font-family: sans-serif;
}

.photoOptions li {
  list-style-type: square;
  width: 50%;
  float: left;
}
