* {
  margin: 0;
  padding: 0;
}

body,
div,
img {
  display: block;
}

.background {
  display: flex;
  flex-direction: column;
  height: 1500px;
  flex-wrap: wrap;
  background-position: center;
  background-image: url("images/bgPaint.jpg");
  /* background-attachment: fixed; */
}
