@font-face {
  font-family: Quando;
  src: url(fonts/Quando-Regular.ttf);
}

@font-face {
  font-family: BillisJaffna;
  src: url(fonts/PostNoBillsJaffna-ExtraBold.ttf);
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40px;
}

body,
div,
img {
  display: block;
}

.background {
  display: flex;
  flex-direction: column;
  height: 1500px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-position: center;
  background-image: url("images/bgPaint.jpg");
  /* background-attachment: fixed; */
}

/* Navbar CSS */

.navbarStatic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  width: 85%;
  height: 140px;
  border-radius: 45px;
  background-color: rgba(249, 249, 249, 90%);
}

.topPinkLine {
  width: 90%;
  height: 7px;
  border-radius: 50px;
  background-color: #f50087;
}

.logo {
  display: flex;
  width: 87%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.title {
  font-family: Quando;
  letter-spacing: 1px;
  cursor: default;
}

.bottomTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.imgLogo {
  position: relative;
  width: 150px;
  height: 100px;
  right: 55px;
}

.navigator {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 10px;
}

.botPinkBar {
  height: 7px;
  flex: 6;
  border-radius: 50px;
  background-color: #f50087;
}

.navItem {
  height: 7px;
  flex-wrap: wrap;
  margin-left: 5px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 50px;
}

.navItem.active {
  background-color: #f50087;
}

.navItem:hover {
  background-color: #f50087;
}

.navItemD {
  height: 7px;
  flex-wrap: wrap;
  margin-left: 5px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 50px;
}

.navItemD.active {
  background-color: #f50087;
}

.navItemD:hover {
  background-color: #f50087;
}

.navItemText {
  position: relative;
  bottom: 22px;
  font-family: BillisJaffna;
  cursor: pointer;
}

/* Navbar Dinamic */

.navbarDinamic {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  width: 85%;
  height: 45px;
  border-radius: 45px;
  background-color: rgba(249, 249, 249, 90%);
}

.letrasLogoLinear {
  display: flex;
  flex-direction: row;
}

.logoD {
  display: flex;
  width: 87%;
}

.imgLogoD {
  position: relative;
  width: 45px;
  height: 30px;
  left: 5px;
  bottom: 1px;
}
